w00-node-red/flows_raspberrypi5.json
[{"id":"1e54d6b5.87e539","type":"tab","label":"Picture","disabled":false,"info":""},{"id":"165f0647.a16f22","type":"tab","label":"SmartShelf","disabled":false,"info":""},{"id":"654b4916.a5412","type":"tab","label":"IoTButton Relay Surfboard","disabled":false,"info":""},{"id":"b73bb9e9.e83418","type":"tab","label":"IoT Surfboard Sensors","disabled":false,"info":""},{"id":"ff22f6c6.a19fa8","type":"tab","label":"Robot Motors","disabled":false,"info":""},{"id":"8f38570e.0002b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5cb6032.8146cfc","type":"tab","label":"Ukulele","disabled":true,"info":""},{"id":"534ad3b6.563d1c","type":"tab","label":"DeepLensMessage","disabled":true,"info":""},{"id":"d00babd5.3d8618","type":"mqtt-broker","z":"","name":"","broker":"a2p4fyajwx9lux-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"ee0ec305.24022","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7da448cb.e9a938","type":"polly-config","z":"","name":"vini"},{"id":"5765463c.5d4d18","type":"twitter-credentials","z":"","screen_name":"vsenger"},{"id":"6bf83523.84793c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ee0ec305.24022","type":"tls-config","z":"","name":"IoT Workshop","cert":"/home/pi/4603a5fdb9-certificate.pem.crt","key":"/home/pi/4603a5fdb9-private.pem.key","ca":"/home/pi/root-CA.crt","certname":"4603a5fdb9-certificate.pem.crt","keyname":"4603a5fdb9-private.pem.key","caname":"root-CA.crtr.rtf","servername":"","verifyservercert":false},{"id":"38a61398.d5e5cc","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"721fc9b.c33e738","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"d8233d94.798268","type":"exec","z":"1e54d6b5.87e539","command":"/usr/bin/raspistill ","addpay":false,"append":"-t 5000 -w 1024 -h 768 -o /home/pi/echo_bot/pictures/pic.png","useSpawn":"false","timer":"","oldrc":false,"name":"Take a picture (RPI Camera)","x":440,"y":100,"wires":[[],[],["23bbd675.cf1b6a"]]},{"id":"46ecb3dd.eccab4","type":"change","z":"1e54d6b5.87e539","name":"","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":420,"wires":[[]]},{"id":"23bbd675.cf1b6a","type":"file in","z":"1e54d6b5.87e539","name":"Get Picture Stream","filename":"/home/pi/projects/echo_bot/pictures/pic.png","format":"","chunk":false,"sendError":false,"x":690,"y":140,"wires":[["19e7c07c.5ab06"]]},{"id":"a9de405e.3046f8","type":"twitter out","z":"1e54d6b5.87e539","twitter":"5765463c.5d4d18","name":"Tweet","x":1030,"y":420,"wires":[]},{"id":"1b5f02a.22ea17d","type":"mqtt in","z":"1e54d6b5.87e539","name":"","topic":"brbot/countPeople","qos":"0","broker":"d00babd5.3d8618","x":170,"y":360,"wires":[["26ffb6a2.2eb632","d827cdc9.aa8ba8"]]},{"id":"26ffb6a2.2eb632","type":"debug","z":"1e54d6b5.87e539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":460,"wires":[]},{"id":"be81bc23.91bec8","type":"exec","z":"1e54d6b5.87e539","command":"/usr/bin/python /home/pi/projects/echo_bot/scripts/Upload.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upload to AWS S3","x":1350,"y":160,"wires":[[],[],[]]},{"id":"4817e9dc.5ed4a8","type":"polly","z":"1e54d6b5.87e539","name":"","voice":"27","ssml":false,"dir":"/tmp","config":"7da448cb.e9a938","x":870,"y":360,"wires":[["7678e5e6.b29b0c"],[]]},{"id":"d827cdc9.aa8ba8","type":"json","z":"1e54d6b5.87e539","name":"","property":"payload","action":"","pretty":false,"x":370,"y":360,"wires":[["a1b32207.b7b02"]]},{"id":"a1b32207.b7b02","type":"function","z":"1e54d6b5.87e539","name":"","func":"var teste = msg.payload.counter;\nmsg.payload2 = \"Foto con aproximadamente \" + teste + \" personas tomada em Perú Lima! Gracias a todos por participar en A.W.S. Community Day!\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["1e4732c5.b7d485","274043f.030023c"]]},{"id":"1e4732c5.b7d485","type":"file in","z":"1e54d6b5.87e539","name":"Ler foto","filename":"/home/pi/projects/echo_bot/pictures/pic.png","format":"","chunk":false,"sendError":false,"x":680,"y":420,"wires":[["46ecb3dd.eccab4"]]},{"id":"7678e5e6.b29b0c","type":"change","z":"1e54d6b5.87e539","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":360,"wires":[["7d76e392.1f3304"]]},{"id":"274043f.030023c","type":"change","z":"1e54d6b5.87e539","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":360,"wires":[["4817e9dc.5ed4a8"]]},{"id":"bc7617ec.a3bfb","type":"mqtt in","z":"1e54d6b5.87e539","name":"","topic":"brbot/picture","qos":"1","broker":"d00babd5.3d8618","x":150,"y":160,"wires":[["2403bb2b.0e15dc","1ca092ac.425b05","9ab00d8d.aae54"]]},{"id":"a8d98419.6b66d8","type":"change","z":"534ad3b6.563d1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<speak>La coca detectada con inferencia local, bien loco eso no?</speak>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["73770dcf.17a9cc"]]},{"id":"73770dcf.17a9cc","type":"polly","z":"534ad3b6.563d1c","name":"","voice":"27","ssml":true,"dir":"/tmp","config":"7da448cb.e9a938","x":610,"y":220,"wires":[["960c4ad6.f0d738"],[]]},{"id":"960c4ad6.f0d738","type":"change","z":"534ad3b6.563d1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":220,"wires":[["8fd170a.cf02f9"]]},{"id":"8fd170a.cf02f9","type":"exec","z":"534ad3b6.563d1c","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":980,"y":240,"wires":[[],[],[]]},{"id":"2d5b4d4e.50841a","type":"inject","z":"534ad3b6.563d1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["a8d98419.6b66d8"]]},{"id":"2403bb2b.0e15dc","type":"debug","z":"1e54d6b5.87e539","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":40,"wires":[]},{"id":"9ab00d8d.aae54","type":"exec","z":"1e54d6b5.87e539","command":"/usr/bin/fswebcam  ","addpay":false,"append":"-D 5 -r 1920 --save /home/pi/projects/echo_bot/pictures/pic.png","useSpawn":"false","timer":"","oldrc":false,"name":"Take a picture (WebCam)","x":430,"y":160,"wires":[[],[],["23bbd675.cf1b6a"]]},{"id":"c411957a.443bf","type":"http request","z":"165f0647.a16f22","name":"","method":"POST","ret":"txt","url":"https://anbc6hv4i0.execute-api.us-east-1.amazonaws.com/ci/inference","tls":"","x":1110,"y":220,"wires":[["de4bc901.0c9a9"]]},{"id":"3d7ffbdf.69d164","type":"debug","z":"165f0647.a16f22","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":420,"wires":[]},{"id":"f4f91b00.01095","type":"function","z":"165f0647.a16f22","name":"","func":"msg.payload = '{\"uuid\": \"' + msg.payload_uuid + '\",\"id_cam\": 0,\"img\": [\"' + msg.payload + '\"]}'\nmsg.headers={};\n\nmsg.headers[\"content-type\"]='application/json';\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":160,"wires":[["c411957a.443bf"]]},{"id":"a64bae25.35c2d","type":"base64","z":"165f0647.a16f22","name":"","action":"","property":"payload","x":900,"y":120,"wires":[["b37b2389.c7603"]]},{"id":"de4bc901.0c9a9","type":"json","z":"165f0647.a16f22","name":"","property":"payload","action":"","pretty":false,"x":1130,"y":280,"wires":[["a39f8148.ab1ce"]]},{"id":"4a2d0d82.6c2a5c","type":"exec","z":"165f0647.a16f22","command":"/usr/bin/raspistill ","addpay":false,"append":"-t 5000 -w 1024 -h 768 -o /home/pi/echo_bot/pictures/pic.png","useSpawn":"false","timer":"","oldrc":false,"name":"Take a picture (RPI Camera)","x":580,"y":40,"wires":[[],[],["5a8cc209.493f7c"]]},{"id":"5a8cc209.493f7c","type":"file in","z":"165f0647.a16f22","name":"Get Picture Stream","filename":"/home/pi/projects/echo_bot/pictures/pic.jpg","format":"","chunk":false,"sendError":false,"x":890,"y":40,"wires":[["a64bae25.35c2d"]]},{"id":"47d87881.36016","type":"mqtt in","z":"165f0647.a16f22","name":"inventory","topic":"smartshelf/inventory","qos":"1","broker":"d00babd5.3d8618","x":120,"y":40,"wires":[["55649449.37ac44","d5986e82.7fe7c"]]},{"id":"56bfacfa.4020a4","type":"exec","z":"165f0647.a16f22","command":"/usr/bin/fswebcam ","addpay":false,"append":"--no-banner -r 640 --save /home/pi/projects/echo_bot/pictures/pic.jpg","useSpawn":"false","timer":"","oldrc":false,"name":"Take a picture (WebCam)","x":590,"y":100,"wires":[[],[],["5a8cc209.493f7c"]]},{"id":"a39f8148.ab1ce","type":"change","z":"165f0647.a16f22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.body","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":340,"wires":[["97515242.576898"]]},{"id":"97515242.576898","type":"json","z":"165f0647.a16f22","name":"","property":"payload","action":"","pretty":false,"x":1190,"y":400,"wires":[["65f83253.dffa54","3d7ffbdf.69d164"]]},{"id":"65f83253.dffa54","type":"function","z":"165f0647.a16f22","name":"","func":"var r=\"\";\nif(flow.get('type')==1) { //inventory\n    global.set('inventory', msg.payload);\n    if(msg.payload.length>1) {\n        for(x=0;x<msg.payload.length;x++) {\n//            r = r + msg.payload[x].shape + (x<msg.payload.length-1 ? \" and \" : \"\");\n//            r = r + msg.payload[x].shape + (x<msg.payload.length-1 ? \" e \" : \"\");\n            r = r + msg.payload[x].shape + (x<msg.payload.length-1 ? \" y \" : \"\");\n        }\n//        msg.payload = \"You have \" + r;\n//        msg.payload = \"Você tem \" + r;\n        msg.payload = \"Usted tiene \" + r;\n    } else if(msg.payload.length==1) {\n//        msg.payload = \"You have one \" + msg.payload[0].shape;\n//        msg.payload = \"Você tem uma \" + msg.payload[0].shape;\n        msg.payload = \"Usted tiene una \" + msg.payload[0].shape;\n    } else  if(msg.payload.length==0) {\n//        msg.payload = \"I can't see any product!\";\n//        msg.payload = \"Eu não vejo nenhum produto!\";\n        msg.payload = \"No veo ningún producto!\";\n    }\n//    msg.payload=msg.payload.replace(\"'Coca'\",\"Coke\");\n//    msg.payload=msg.payload.replace(\"'Schweeps'\",\"Scheweppes\");\n    msg.payload=msg.payload.replace(\"'Coca'\",\"Cóca\");\n    msg.payload=msg.payload.replace(\"'Schweeps'\",\"xuépis\");\n    //msg.payload = msg.payload + \". Inventory Complete!\";\n    msg.payload = msg.payload + \". Inventário completo!\";\n} else if(flow.get('type')==2) { //shopping\n    inventory = global.get('inventory');\n    products = msg.payload;\n    buy = [];\n    b= 0;\n    reposition = [];\n    re = 0;\n    newinventory = [];\n    ni = 0;\n    r= 0;\n    node.warn(\"Antes\");\n    node.warn(inventory);\n    node.warn(products);\n    for(i=0;i<inventory.length;i++) {\n        found = false;\n        for(p=0;p<products.length;p++) {\n            if(inventory[i].shape===products[p].shape) found =true;\n        }\n        if(found) newinventory[ni++] = inventory[i];\n        else buy[b++] = inventory[i];\n        //node.warn(products[x].shape);\n    }    \n    for(p=0;p<products.length;p++) {\n        found = false;\n        node.warn(\"Searching \" + products[p].shape);\n        for(i=0;i<inventory.length;i++) {\n            if(products[p].shape===inventory[i].shape) found = true;\n        }\n        if(!found) {\n            node.warn(\"not found  \" + products[p].shape)\n            reposition[re++] = products[p];\n            newinventory[ni++] = products[p];\n        } \n    }\n    node.warn(\"Depois...\");\n    node.warn(newinventory);\n    node.warn(buy);\n    node.warn(reposition);\n    if(buy.length>0) {\n        res_buy = \"\";\n        for(x = 0;x<buy.length;x++) {\n//            res_buy += buy[x].shape + (x<buy.length-1 ? \" and \" : \"\");\n//            res_buy += buy[x].shape + (x<buy.length-1 ? \" e \" : \"\");\n            res_buy += buy[x].shape + (x<buy.length-1 ? \" y \" : \"\");\n        }\n    }\n    if(reposition.length>0) {\n        res_rep = \"\";\n        for(x = 0;x<reposition.length;x++) {\n            //res_rep += reposition[x].shape + (x<reposition.length-1 ? \" e \" : \"\");\n            //res_rep += reposition[x].shape + (x<reposition.length-1 ? \" and \" : \"\");\n            res_rep += reposition[x].shape + (x<reposition.length-1 ? \" y \" : \"\");\n        }\n    }\n    response = (buy.length>0 ? \"Tu compraste \" + res_buy : \"\") +\n        (reposition.length>0 ? (buy.length>0 ? \" e hizo una reposición  \" + res_rep : \"Usted ha hecho una reposición \" + res_rep) : \"\") + \n        \". Gracias por comprar con el estante inteligente!\";\n\n    //response = (buy.length>0 ? \"Você comprou \" + res_buy : \"\") +\n    //    (reposition.length>0 ? (buy.length>0 ? \" e fez uma reposição de  \" + res_rep : \"Você fez reposição de \" + res_rep) : \"\") + \n    //    \". Obrigado por comprar com a prateleira inteligente!\";\n    //response = (buy.length>0 ? \"You bought \" + res_buy : \"\") +\n    //    (reposition.length>0 ? (buy.length>0 ? \" and made a reposition of \" + res_rep : \"You made a reposition of \" + res_rep) : \"\") + \n    //    \". Thanks for shopping with Brazilian Robot\";\n    if(buy.length===0 && reposition.length===0) response = \"Usted no compró nada y tampoco hizo ninguna reposición.\";\n    //if(buy.length===0 && reposition.length===0) response = \"Você não comprou nada e também não fez nenhuma reposição.\";\n    //if(buy.length===0 && reposition.length===0) response = \"You didn't buy anything. No reposition either.\"\n    global.set('inventory', newinventory);\n    msg.payload=response;\n    msg.payload=msg.payload.replace(\"'Coca'\",\"Cóca\");\n    msg.payload=msg.payload.replace(\"'Schweeps'\",\"xuépis\");\n\n    //msg.payload=msg.payload.replace(\"'Coca'\",\"Coke\");\n    //msg.payload=msg.payload.replace(\"'Schweeps'\",\"Scheweppes\");\n    //msg.payload=msg.payload.replace(\"'Coca'\",\"Coke\");\n    //msg.payload=msg.payload.replace(\"'Schweeps'\",\"Scheweppes\");\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":460,"wires":[["3d7ffbdf.69d164","69553f58.b69d7"]]},{"id":"4051ba2d.f357fc","type":"exec","z":"165f0647.a16f22","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":1240,"y":640,"wires":[[],[],[]]},{"id":"69553f58.b69d7","type":"polly","z":"165f0647.a16f22","name":"","voice":"25","ssml":false,"dir":"/tmp","config":"7da448cb.e9a938","x":1230,"y":520,"wires":[["40c8efa0.f6f848"],[]]},{"id":"40c8efa0.f6f848","type":"change","z":"165f0647.a16f22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":580,"wires":[["4051ba2d.f357fc","3d7ffbdf.69d164"]]},{"id":"b37b2389.c7603","type":"uuid","z":"165f0647.a16f22","uuidVersion":"v4","namespaceType":"","namespace":"","namespaceCustom":"","name":"","field":"payload_uuid","fieldType":"msg","x":910,"y":180,"wires":[["f4f91b00.01095"]]},{"id":"55649449.37ac44","type":"function","z":"165f0647.a16f22","name":"inventory","func":"flow.set('type',1); //inventory\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["56bfacfa.4020a4"]]},{"id":"672b0df7.8c5d64","type":"function","z":"165f0647.a16f22","name":"shopping","func":"flow.set('type',2); //inventory\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["56bfacfa.4020a4"]]},{"id":"6c32941c.5376b4","type":"mqtt in","z":"165f0647.a16f22","name":"checkout","topic":"smartshelf/checkout","qos":"1","broker":"d00babd5.3d8618","x":120,"y":180,"wires":[["672b0df7.8c5d64"]]},{"id":"ff86d8b.499a428","type":"switch","z":"165f0647.a16f22","name":"","property":"payload.clickType","propertyType":"msg","rules":[{"t":"eq","v":"SINGLE","vt":"str"},{"t":"eq","v":"DOUBLE","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":440,"wires":[["55649449.37ac44"],["672b0df7.8c5d64"]]},{"id":"ef715acd.a2522","type":"json","z":"165f0647.a16f22","name":"","property":"payload","action":"","pretty":false,"x":110,"y":480,"wires":[["ff86d8b.499a428"]]},{"id":"1ca092ac.425b05","type":"change","z":"1e54d6b5.87e539","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Voy sacar una foto en 3, 2, 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["41066481.192bfc"]]},{"id":"41066481.192bfc","type":"polly","z":"1e54d6b5.87e539","name":"","voice":"27","ssml":false,"dir":"/tmp","config":"7da448cb.e9a938","x":550,"y":220,"wires":[["727663d2.c2c6fc"],[]]},{"id":"5d9b620d.51a084","type":"exec","z":"1e54d6b5.87e539","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":860,"y":220,"wires":[[],[],[]]},{"id":"727663d2.c2c6fc","type":"change","z":"1e54d6b5.87e539","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[["5d9b620d.51a084"]]},{"id":"7d76e392.1f3304","type":"exec","z":"1e54d6b5.87e539","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":1240,"y":360,"wires":[[],[],[]]},{"id":"6ad087db.f22e8","type":"mqtt in","z":"534ad3b6.563d1c","name":"deeplens","topic":"$aws/things/deeplens_TAArljqpQkKn1w06LJ6SkQ/infer","qos":"1","broker":"d00babd5.3d8618","x":100,"y":200,"wires":[["74921bb6.0175e4","a8b6a7e0.5e246"]]},{"id":"74921bb6.0175e4","type":"debug","z":"534ad3b6.563d1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":110,"y":280,"wires":[]},{"id":"6a6598fb.9d0b1","type":"polly","z":"534ad3b6.563d1c","name":"","voice":"27","ssml":true,"dir":"/tmp","config":"7da448cb.e9a938","x":610,"y":180,"wires":[["1c8b70c6.935f0f"],[]]},{"id":"1c8b70c6.935f0f","type":"change","z":"534ad3b6.563d1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":180,"wires":[["3168b9e0.21df3e"]]},{"id":"3168b9e0.21df3e","type":"exec","z":"534ad3b6.563d1c","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":980,"y":160,"wires":[["adc1fdf5.cc84a8","8574939c.f4398"],[],[]]},{"id":"3777993d.824956","type":"change","z":"534ad3b6.563d1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<speak>No hay productos más en el estante ... Voy a hacer un nuevo pedido en Amazon.com ..</speak>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["6a6598fb.9d0b1"]]},{"id":"a8b6a7e0.5e246","type":"switch","z":"534ad3b6.563d1c","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"gt","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":200,"wires":[["3777993d.824956"],["a8d98419.6b66d8"]]},{"id":"1fbcf288.cb0685","type":"change","z":"534ad3b6.563d1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"re?4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":140,"wires":[["643dd03f.afcc9"]]},{"id":"643dd03f.afcc9","type":"serial out","z":"534ad3b6.563d1c","name":"","serial":"38a61398.d5e5cc","x":1520,"y":160,"wires":[]},{"id":"8574939c.f4398","type":"delay","z":"534ad3b6.563d1c","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":180,"wires":[["35c3c3f.172973c"]]},{"id":"35c3c3f.172973c","type":"change","z":"534ad3b6.563d1c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"parar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":180,"wires":[["643dd03f.afcc9"]]},{"id":"adc1fdf5.cc84a8","type":"delay","z":"534ad3b6.563d1c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":140,"wires":[["1fbcf288.cb0685"]]},{"id":"d5986e82.7fe7c","type":"change","z":"165f0647.a16f22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Iniciando inventario","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":340,"wires":[["f53b5c82.81dca"]]},{"id":"f53b5c82.81dca","type":"polly","z":"165f0647.a16f22","name":"","voice":"25","ssml":false,"dir":"/tmp","config":"7da448cb.e9a938","x":610,"y":380,"wires":[["a9628ded.f6fc1"],[]]},{"id":"e0082d73.e52418","type":"exec","z":"165f0647.a16f22","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":960,"y":400,"wires":[[],[],[]]},{"id":"a9628ded.f6fc1","type":"change","z":"165f0647.a16f22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":380,"wires":[["e0082d73.e52418"]]},{"id":"79b40218.18e3fc","type":"mqtt in","z":"5cb6032.8146cfc","name":"","topic":"/iot/notes","qos":"2","broker":"6bf83523.84793c","x":120,"y":120,"wires":[["c8865ce6.4c4918"]]},{"id":"c8865ce6.4c4918","type":"switch","z":"5cb6032.8146cfc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"A","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":120,"wires":[["a88eefa1.6ea4a"],["9c68857e.e065"],["dffe76c.8beaf88"],["80c85f2b.2bcb7"]]},{"id":"9c68857e.e065","type":"change","z":"5cb6032.8146cfc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<speak>Usted está tocando la nota Dó</speak>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["d5d312d6.ac3008"]]},{"id":"d5d312d6.ac3008","type":"polly","z":"5cb6032.8146cfc","name":"","voice":"27","ssml":true,"dir":"/tmp","config":"7da448cb.e9a938","x":690,"y":140,"wires":[["f7b972bb.8469b8"],[]]},{"id":"f7b972bb.8469b8","type":"change","z":"5cb6032.8146cfc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":140,"wires":[["b69e510d.1e975"]]},{"id":"b69e510d.1e975","type":"exec","z":"5cb6032.8146cfc","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":1060,"y":140,"wires":[[],[],[]]},{"id":"642eb0a2.1eb378","type":"polly","z":"5cb6032.8146cfc","name":"","voice":"27","ssml":true,"dir":"/tmp","config":"7da448cb.e9a938","x":690,"y":100,"wires":[["2136f194.1c5806"],[]]},{"id":"2136f194.1c5806","type":"change","z":"5cb6032.8146cfc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":100,"wires":[["6eef8275.c552d4"]]},{"id":"6eef8275.c552d4","type":"exec","z":"5cb6032.8146cfc","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":1060,"y":80,"wires":[[],[],[]]},{"id":"a88eefa1.6ea4a","type":"change","z":"5cb6032.8146cfc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<speak>Usted está tocando la nota Sol</speak>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["642eb0a2.1eb378"]]},{"id":"dffe76c.8beaf88","type":"change","z":"5cb6032.8146cfc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<speak>Usted está tocando la nota Mi</speak>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["6bfb0c37.575c44"]]},{"id":"6bfb0c37.575c44","type":"polly","z":"5cb6032.8146cfc","name":"","voice":"27","ssml":true,"dir":"/tmp","config":"7da448cb.e9a938","x":690,"y":180,"wires":[["18ebc1ba.b93e06"],[]]},{"id":"18ebc1ba.b93e06","type":"change","z":"5cb6032.8146cfc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[["cffc3bab.54ade"]]},{"id":"cffc3bab.54ade","type":"exec","z":"5cb6032.8146cfc","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":1060,"y":200,"wires":[[],[],[]]},{"id":"80c85f2b.2bcb7","type":"change","z":"5cb6032.8146cfc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"<speak>Usted está tocando la nota Lá</speak>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":220,"wires":[["d9e09938.828ce"]]},{"id":"d9e09938.828ce","type":"polly","z":"5cb6032.8146cfc","name":"","voice":"27","ssml":true,"dir":"/tmp","config":"7da448cb.e9a938","x":690,"y":220,"wires":[["cfd4eb23.d05878"],[]]},{"id":"cfd4eb23.d05878","type":"change","z":"5cb6032.8146cfc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":220,"wires":[["7a241289.24da34"]]},{"id":"7a241289.24da34","type":"exec","z":"5cb6032.8146cfc","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":1060,"y":240,"wires":[[],[],[]]},{"id":"a98534a9.06209","type":"mqtt in","z":"654b4916.a5412","name":"IoT Button","topic":"iotbutton/+","qos":"0","broker":"d00babd5.3d8618","x":80,"y":100,"wires":[["85294625.f87448","cd58b3f9.7d9a5"]]},{"id":"32af6720.c58b98","type":"serial out","z":"654b4916.a5412","name":"","serial":"38a61398.d5e5cc","x":730,"y":80,"wires":[]},{"id":"a93b6afc.b1d678","type":"change","z":"654b4916.a5412","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"relay?1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":60,"wires":[["32af6720.c58b98","cd58b3f9.7d9a5"]]},{"id":"85294625.f87448","type":"json","z":"654b4916.a5412","name":"","property":"payload","action":"","pretty":false,"x":230,"y":100,"wires":[["5b24e7bb.a9164"]]},{"id":"5b24e7bb.a9164","type":"switch","z":"654b4916.a5412","name":"","property":"payload.clickType","propertyType":"msg","rules":[{"t":"eq","v":"SINGLE","vt":"str"},{"t":"eq","v":"DOUBLE","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":100,"wires":[["a93b6afc.b1d678"],["51026be9.2a09fc"]]},{"id":"51026be9.2a09fc","type":"change","z":"654b4916.a5412","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"relay?0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["32af6720.c58b98","cd58b3f9.7d9a5"]]},{"id":"cd58b3f9.7d9a5","type":"debug","z":"654b4916.a5412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":160,"wires":[]},{"id":"9ac0c229.abbad","type":"inject","z":"1e54d6b5.87e539","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["9ab00d8d.aae54","1ca092ac.425b05"]]},{"id":"19e7c07c.5ab06","type":"change","z":"1e54d6b5.87e539","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Subiendo la foto al S3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":140,"wires":[["ef772bd2.3d90b8"]]},{"id":"ef772bd2.3d90b8","type":"polly","z":"1e54d6b5.87e539","name":"","voice":"27","ssml":false,"dir":"/tmp","config":"7da448cb.e9a938","x":990,"y":200,"wires":[["9feb7a17.39d088"],[]]},{"id":"982150bb.be65f","type":"exec","z":"1e54d6b5.87e539","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":1180,"y":180,"wires":[["be81bc23.91bec8"],[],[]]},{"id":"9feb7a17.39d088","type":"change","z":"1e54d6b5.87e539","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":240,"wires":[["982150bb.be65f"]]},{"id":"4ac0b1a2.61cd6","type":"mqtt in","z":"1e54d6b5.87e539","name":"","topic":"brbot/helloworld","qos":"1","broker":"d00babd5.3d8618","x":160,"y":280,"wires":[["188ce2f2.9c657d"]]},{"id":"25c59a73.c1ec4e","type":"change","z":"1e54d6b5.87e539","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Good afternoon DevRelConf attendees! I am so happy because in some hours we will be drinking beers together, it's Friday! YES! ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":280,"wires":[["55e46e65.eb876"]]},{"id":"55e46e65.eb876","type":"polly","z":"1e54d6b5.87e539","name":"","voice":"10","ssml":false,"dir":"/tmp","config":"7da448cb.e9a938","x":710,"y":280,"wires":[["1d2623d4.b1734c"],[]]},{"id":"5eda1902.3a7b78","type":"exec","z":"1e54d6b5.87e539","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":1040,"y":280,"wires":[[],[],[]]},{"id":"1d2623d4.b1734c","type":"change","z":"1e54d6b5.87e539","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":280,"wires":[["5eda1902.3a7b78"]]},{"id":"188ce2f2.9c657d","type":"delay","z":"1e54d6b5.87e539","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":280,"wires":[["25c59a73.c1ec4e"]]},{"id":"1d713783.3fd9c8","type":"inject","z":"165f0647.a16f22","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["55649449.37ac44","d5986e82.7fe7c"]]},{"id":"6627b57d.83f45c","type":"inject","z":"165f0647.a16f22","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["672b0df7.8c5d64"]]},{"id":"cbb3b6b4.cb4c08","type":"mqtt out","z":"b73bb9e9.e83418","name":"","topic":"iotsurfboard/sensors","qos":"","retain":"","broker":"d00babd5.3d8618","x":380,"y":100,"wires":[]},{"id":"25b6a2a7.fd667e","type":"serial out","z":"b73bb9e9.e83418","name":"","serial":"38a61398.d5e5cc","x":470,"y":260,"wires":[]},{"id":"c42848cd.f59778","type":"debug","z":"b73bb9e9.e83418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":40,"wires":[]},{"id":"d2b0c6ce.1d2258","type":"serial in","z":"b73bb9e9.e83418","name":"","serial":"38a61398.d5e5cc","x":150,"y":60,"wires":[["cbb3b6b4.cb4c08","c42848cd.f59778","e72adfd0.be33c"]]},{"id":"27ad8091.87806","type":"inject","z":"b73bb9e9.e83418","name":"sensors reading loop","topic":"","payload":"sensors","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":200,"wires":[["25b6a2a7.fd667e"]]},{"id":"9124deba.120b6","type":"mqtt in","z":"b73bb9e9.e83418","name":"open mqtt iotsurfboard/command","topic":"iotsurfboard/command","qos":"2","broker":"6bf83523.84793c","x":170,"y":320,"wires":[["25b6a2a7.fd667e"]]},{"id":"68bf5453.78621c","type":"mqtt in","z":"b73bb9e9.e83418","name":"aws iotsurfboard/control","topic":"iotsurfboard/control","qos":"1","broker":"d00babd5.3d8618","x":200,"y":260,"wires":[["25b6a2a7.fd667e","c42848cd.f59778"]]},{"id":"3831f1ef.91e58e","type":"mqtt in","z":"ff22f6c6.a19fa8","name":"aws iotsurfboard/control","topic":"robot/control","qos":"1","broker":"d00babd5.3d8618","x":140,"y":40,"wires":[["cf9117ec.17d4a8"]]},{"id":"a06d3f2f.5ae46","type":"rpi-gpio out","z":"ff22f6c6.a19fa8","name":"motor1-PWM","pin":"40","set":"","level":"0","freq":"","out":"pwm","x":710,"y":100,"wires":[]},{"id":"d589cb18.f49b98","type":"rpi-gpio out","z":"ff22f6c6.a19fa8","name":"motor2-PWM","pin":"15","set":"","level":"0","freq":"","out":"pwm","x":710,"y":140,"wires":[]},{"id":"b3a8b201.2773","type":"rpi-gpio out","z":"ff22f6c6.a19fa8","name":"motor1-A","pin":"38","set":true,"level":"1","freq":"","out":"out","x":700,"y":200,"wires":[]},{"id":"dc2474ba.f58968","type":"rpi-gpio out","z":"ff22f6c6.a19fa8","name":"motor1-B","pin":"37","set":true,"level":"0","freq":"","out":"out","x":700,"y":240,"wires":[]},{"id":"5ac0e0d6.670f6","type":"rpi-gpio out","z":"ff22f6c6.a19fa8","name":"motor2-A","pin":"11","set":true,"level":"1","freq":"","out":"out","x":700,"y":300,"wires":[]},{"id":"934e061d.e45548","type":"rpi-gpio out","z":"ff22f6c6.a19fa8","name":"motor2-B","pin":"13","set":true,"level":"0","freq":"","out":"out","x":700,"y":340,"wires":[]},{"id":"5f2a0a8.55a7ff4","type":"function","z":"ff22f6c6.a19fa8","name":"","func":"if(msg.payload.command==\"forward\") {\n    msg.payload.m1=1;\n    msg.payload.m2=0;\n}\nelse if(msg.payload.command==\"backward\") {\n    msg.payload.m1=0;\n    msg.payload.m2=1;\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":260,"wires":[["6abd4271.3c34cc","debf6bc5.e485e8","46bb2677.5272a8","a180131.b7d5bf","94b7cc3e.8560f"]]},{"id":"6abd4271.3c34cc","type":"debug","z":"ff22f6c6.a19fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":380,"wires":[]},{"id":"cf9117ec.17d4a8","type":"json","z":"ff22f6c6.a19fa8","name":"","property":"payload","action":"","pretty":false,"x":130,"y":180,"wires":[["5f2a0a8.55a7ff4"]]},{"id":"46bb2677.5272a8","type":"change","z":"ff22f6c6.a19fa8","name":"motor_a","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.m1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["b3a8b201.2773","5ac0e0d6.670f6"]]},{"id":"a180131.b7d5bf","type":"change","z":"ff22f6c6.a19fa8","name":"motor_b","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.m2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":280,"wires":[["dc2474ba.f58968","934e061d.e45548"]]},{"id":"debf6bc5.e485e8","type":"change","z":"ff22f6c6.a19fa8","name":"frequency","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.frequency","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["a06d3f2f.5ae46","d589cb18.f49b98"]]},{"id":"94b7cc3e.8560f","type":"change","z":"ff22f6c6.a19fa8","name":"delay","rules":[{"t":"set","p":"delay","pt":"msg","to":"payload.delay","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["37fbea4c.e02636"]]},{"id":"37fbea4c.e02636","type":"delay","z":"ff22f6c6.a19fa8","name":"stop","pauseType":"delayv","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":40,"wires":[["2f84298e.fe2306"]]},{"id":"2f84298e.fe2306","type":"change","z":"ff22f6c6.a19fa8","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":40,"wires":[["a06d3f2f.5ae46","d589cb18.f49b98"]]},{"id":"e72adfd0.be33c","type":"json","z":"b73bb9e9.e83418","name":"","property":"payload","action":"","pretty":false,"x":550,"y":60,"wires":[["a9d167b1.256ae8","9fce8e6c.6175e"]]},{"id":"a9d167b1.256ae8","type":"switch","z":"b73bb9e9.e83418","name":"","property":"payload.components[0].value","propertyType":"msg","rules":[{"t":"gte","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":60,"wires":[["79e0014c.d9093"]]},{"id":"79e0014c.d9093","type":"change","z":"b73bb9e9.e83418","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Boracho detectado!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["2f55e2ec.3d036e","bf4ebc7e.a8152"]]},{"id":"2f55e2ec.3d036e","type":"debug","z":"b73bb9e9.e83418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":160,"wires":[]},{"id":"bf4ebc7e.a8152","type":"polly","z":"b73bb9e9.e83418","name":"","voice":"27","ssml":false,"dir":"/tmp","config":"7da448cb.e9a938","x":730,"y":220,"wires":[["d036de35.c45c4"],[]]},{"id":"d036de35.c45c4","type":"change","z":"b73bb9e9.e83418","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"file","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":220,"wires":[["a73b7d8d.287c2"]]},{"id":"a73b7d8d.287c2","type":"exec","z":"b73bb9e9.e83418","command":"mpg321","addpay":true,"append":"","useSpawn":"false","timer":"40","oldrc":false,"name":"","x":1040,"y":220,"wires":[[],[],[]]},{"id":"9fce8e6c.6175e","type":"debug","z":"b73bb9e9.e83418","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.components[0].value","x":770,"y":20,"wires":[]},{"id":"84dd474f.eaabe8","type":"mqtt in","z":"654b4916.a5412","name":"Light ON","topic":"iothub/lighton","qos":"0","broker":"d00babd5.3d8618","x":340,"y":40,"wires":[["a93b6afc.b1d678"]]},{"id":"a59b198c.996738","type":"mqtt in","z":"654b4916.a5412","name":"Light OFF","topic":"iothub/lightoff","qos":"0","broker":"d00babd5.3d8618","x":360,"y":200,"wires":[["51026be9.2a09fc"]]},{"id":"6fbf0147.cac9b","type":"mqtt in","z":"8f38570e.0002b8","name":"aws iotsurfboard/control","topic":"iothub/grill/sandwich","qos":"1","broker":"d00babd5.3d8618","x":140,"y":60,"wires":[[]]}]